*.iml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

local.properties

.idea/*
.gradle*
gradle/*
!gradle/libs.versions.toml
app/src/main/java/edu/ph/iota/activities/TEMPBackendRequestActivity*
app/src/main/res/layout/temp_activity_backend_requests.xml
